:root {
	--roboto: 'Roboto', sans-serif;
	--monoton: 'Monoton', cursive;
	--dark: #00061c;
	--midnight: #012873;
	--blue: #018eac;
	--turquoise: #0bcad4;
	--red: #c30356;
	--fuchsia: #d63384;
	--light: #dff3f8;
}

/* main.handlebars */
body {
	background-color: var(--dark);
	color: var(--light);
	font-family: var(--roboto);
	background-image: url(../assets/bg.jpg);
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
}

.wrapper {
	margin-right: 10vw;
	margin-left: 5vw;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

footer {
	/* push footer to the bottom of the page */
	margin-top: auto;
}

.navbar-custom .navbar-brand {
	font-family: var(--monoton);
	color: var(--blue);
}

.navbar-custom .navbar-brand:hover {
	color: var(--turquoise);
}
